* {
    box-sizing: border-box;
}

body{
    background-color: #edf0f5;
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#main-container{
    height: 450px;
    width: 300px;
    display: flex;
    background-color: rgb(75, 75, 75);
    border: 3px solid black;
    flex-direction: column;
    border-radius: 20px;
    padding: 10px;

}

#area-resultado{
    display: flex;
    flex-grow: 3;
    justify-content: center;
    align-items: center;
}

#container-resultado{
    display: flex;
    background-color: rgba(72, 136, 72, 0.596);
    border: 1px solid black;
    height: 80%;
    width: 90%;
    border-radius: 10px;
    align-items: flex-end;
    justify-content: flex-end;
    
}

#container-botoes{
    flex-grow: 6;
    display: grid;
    grid-template-areas: 
        'on on off off'
        'C raiz porcentagem divisao'
        'sete oito nove multiplicacao'
        'quatro cinco seis subtracao'
        'um dois tres soma'
        'zero ponto result soma'
    ;
}

.resultado{
    background-color: none;
    padding: 0px 10px 10px 0px;
    font-size: 30px;
    font-weight: bold;
}

.botoes-numeros{
    color: white;
    background-color: black;
}

.outros-botoes, .botoes-operacoes{
    color: white;
    background-color: gray;
}

.botoes-numeros, .botoes-operacoes, .outros-botoes{
    margin: 5px;
    border-radius: 20px;
}

/* botão ligar e desligar resultado */
.ligar{
    visibility: visible;
}

.desligar{
    visibility: hidden;
}


#soma, #on{
    background-color: rgb(0, 185, 185);
}

#on {
    grid-area: on;
}


#C{
    grid-area: C;
}

#xx{
    grid-area: xx;
}

#xxx{
    grid-area: xxx;
}

#off{
    grid-area: off;
}

#raiz{
    grid-area: raiz;
}

#porcentagem{
    grid-area: porcentagem;
}

#multiplicacao{
    grid-area: multiplicacao;
}

#divisao{
    grid-area: divisao;
}

#subtracao{
    grid-area: subtracao;
}

#soma{
    grid-area: soma;
}

#ponto{
    grid-area: ponto;
}

#result{
    grid-area: result;
}

#zero{
    grid-area: zero;
}

#um {
    grid-area: um;
}

#dois {
    grid-area: dois;
}

#tres {
    grid-area: tres;
}

#quatro {
    grid-area: quatro;
}

#cinco {
    grid-area: cinco;
}

#seis{
    grid-area: seis;
}

#sete{
    grid-area: sete;
}

#oito{
    grid-area: oito;
}

#nove{
    grid-area: nove;
}

.resultado{
    overflow-block: hidden;
}